*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: 'Source Code Pro', monospace;
}

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin cleanInput {
	border: none;
	outline: none;
}
@mixin borderInput {
	border: 0px solid transparent;
	padding: 0.5rem;
}
